.add-form {
    padding: 0.7rem;
    &__input {
        textarea {
            border: 0;
            padding: 0;
            margin: 0;
            width: 100%;
            resize: none;
            cursor: text;
        }
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-add-btn {
            padding: 0.7rem 0.7rem 0.7rem 1.2rem;
            display: flex;
            align-items: center;
            cursor: pointer;
            border-radius: 4px;
            color: #6b808c;
            width: 100%;

            img {
                opacity: 0.4;
                margin-right: 0.5rem;
            }

            &:hover {
                background-color: darken($color: #ebecf0, $amount: 8);
                color: darken($color: #6b808c, $amount: 50);

                img {
                    opacity: 0.6;
                }
            }

            
        }

        &-clear {
            cursor: pointer;
            opacity: 0.5;
            &:hover {
                opacity: 0.9;
            }
        }
    }
}