.button {
    background-color: #5aac44;
    border-radius: 4px;
    color: #fff;
    border: 0;
    padding: 0.4rem 0.5rem;
    font-weight: bold;
    cursor: pointer;

    &:hover {
        background-color: darken($color: #5aac44, $amount: 5);
    }
    
}