.column {
    width: 300px;
    margin: 20px 4px;
    height: calc(100% - 40px);
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;

    &__inner {
        background-color: #dfe1e6;
        border-radius: 3px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        max-height: 100%;
        position: relative;
        white-space: normal;
        overflow: hidden;
      }

    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px;
    }

    &__remove {
        cursor: pointer;
        img {
            opacity: 0.3;

            &:hover {
                opacity: 0.8;
            }
        }
    }

    &--empty {
        .add-form {
            margin-top: 12px;
            padding-top: 0;
        }
    }

    &__items {
        padding: 0rem 0.7rem 0 0.7rem;
        overflow-y: auto;
        overflow-x: hidden;
    }
}