.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0px 1px 4px rgba(9, 45, 66, 0.25);
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 10px;
    font-style: 14px;
    line-height: 19px;
    white-space: normal;

    span {
        flex: 1;
      }
    
      img {
        width: 10px;
      }
}