body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, sans-serif;
}



html, body, #root, .app {
    height: 100%;
}

#root {
    background: url('./assets/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.app {
    white-space: nowrap;
}